* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: max(1vh, 1vw);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --gap: 2rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20vh 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
    background-color: #0078da;
    grid-area: sidebar;
    padding: 1.5rem;
    color: #fff;
}

.header {
    grid-area: header;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: var(--gap);
    grid-area: main;
    background-color: #f5f7f9;
    padding: var(--gap);
}

.announcements {
    grid-area: announcements;
}

.projects {
    grid-area: projects;
}

.trending {
    grid-area: trending;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

.favicon {
    display: grid;
    width: 70%;
    gap: 0.3rem;
    aspect-ratio: 1 / 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "rect1 rect2"
    "rect1 rect4"
    "rect3 rect4";
    align-self: center;
}

.favicon > div {
    background-color: #fff;
}

#rect1 {
    grid-area: rect1;
}

#rect2 {
    grid-area: rect2;
}

#rect3 {
    grid-area: rect3;
}

#rect4 {
    grid-area: rect4;
}

#caption {
    align-self: center;
    font-size: 3rem;
    font-weight: 900;
}

.main-header {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*grid-template-rows: repeat(2, minmax(100px, 1fr));*/
    gap: var(--gap);
}

.card-buttons ul {
    list-style: none;
}

.project-card {
    border: 0.05rem solid #00000050;
    border-radius: 0.5rem;
    /*padding: 1rem;*/
    box-sizing: border-box;
    background-color: #ffc918;
    box-shadow: 0.15rem 0.15rem 0.3rem 0.05rem #00000038;
}


.card-area {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: calc(100% - 0.5rem);
    margin-left: auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: clamp(3px, 1rem, 20px);
    font-size: clamp(6px, 1rem, 30px);
}

.card-header {
    font-weight: 900;
    font-size: calc(clamp(6px, 1rem, 30px) * 1.2);
    margin-bottom: 0.5rem;
}